body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax1 {
    background-image: url('download.jpeg'); /* Replace with your image */
    height: 500px; /* Adjust the height as needed */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url('Hehe.jpeg'); /* Replace with your image */
    height: 500px; /* Adjust the height as needed */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: 500px; /* Adjust the height as needed */
    background-color: white;
    text-align: center;
    padding: 50px;
}

.content h1 {
    font-size: 48px;
}

.content p {
    font-size: 24px;
}
